//! **************************************************************************
// Written by: Map K.39 on Thu Oct 09 14:15:19 2014
//! **************************************************************************

SCHEMATIC START;
COMP "binary_out<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "binary_in<0>" LOCATE = SITE "P57" LEVEL 1;
COMP "binary_out<1>" LOCATE = SITE "P96" LEVEL 1;
COMP "binary_in<1>" LOCATE = SITE "P58" LEVEL 1;
COMP "binary_out<2>" LOCATE = SITE "P97" LEVEL 1;
COMP "binary_in<2>" LOCATE = SITE "P59" LEVEL 1;
COMP "binary_out<3>" LOCATE = SITE "P98" LEVEL 1;
COMP "binary_in<3>" LOCATE = SITE "P60" LEVEL 1;
SCHEMATIC END;

