//! **************************************************************************
// Written by: Map K.39 on Wed Nov 19 21:04:27 2014
//! **************************************************************************

SCHEMATIC START;
COMP "led<5>" LOCATE = SITE "P100" LEVEL 1;
COMP "led<6>" LOCATE = SITE "P101" LEVEL 1;
COMP "led<7>" LOCATE = SITE "P102" LEVEL 1;
COMP "seg<0>" LOCATE = SITE "P114" LEVEL 1;
COMP "seg<1>" LOCATE = SITE "P115" LEVEL 1;
COMP "seg<2>" LOCATE = SITE "P119" LEVEL 1;
COMP "seg<3>" LOCATE = SITE "P120" LEVEL 1;
COMP "seg<4>" LOCATE = SITE "P121" LEVEL 1;
COMP "seg<5>" LOCATE = SITE "P122" LEVEL 1;
COMP "seg<6>" LOCATE = SITE "P123" LEVEL 1;
COMP "digit<1>" LOCATE = SITE "P108" LEVEL 1;
COMP "digit<2>" LOCATE = SITE "P109" LEVEL 1;
COMP "digit<3>" LOCATE = SITE "P110" LEVEL 1;
COMP "digit<4>" LOCATE = SITE "P111" LEVEL 1;
COMP "reset" LOCATE = SITE "P75" LEVEL 1;
COMP "digit<5>" LOCATE = SITE "P112" LEVEL 1;
COMP "digit<6>" LOCATE = SITE "P113" LEVEL 1;
COMP "led<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "led<1>" LOCATE = SITE "P96" LEVEL 1;
COMP "push1" LOCATE = SITE "P68" LEVEL 1;
COMP "push2" LOCATE = SITE "P69" LEVEL 1;
COMP "led<2>" LOCATE = SITE "P97" LEVEL 1;
COMP "clk" LOCATE = SITE "P80" LEVEL 1;
COMP "led<3>" LOCATE = SITE "P98" LEVEL 1;
COMP "led<4>" LOCATE = SITE "P99" LEVEL 1;
SCHEMATIC END;

