//! **************************************************************************
// Written by: Map K.39 on Fri Oct 24 15:06:52 2014
//! **************************************************************************

SCHEMATIC START;
COMP "DIGIT<0>" LOCATE = SITE "P108" LEVEL 1;
COMP "DIGIT<1>" LOCATE = SITE "P109" LEVEL 1;
COMP "DIGIT<2>" LOCATE = SITE "P110" LEVEL 1;
COMP "DIGIT<3>" LOCATE = SITE "P111" LEVEL 1;
COMP "DIGIT<4>" LOCATE = SITE "P112" LEVEL 1;
COMP "DIGIT<5>" LOCATE = SITE "P113" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P95" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P96" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P97" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P98" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P99" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P100" LEVEL 1;
COMP "FPGA_RST" LOCATE = SITE "P75" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P101" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P102" LEVEL 1;
COMP "FPGA_CLK" LOCATE = SITE "P80" LEVEL 1;
COMP "SEG<0>" LOCATE = SITE "P114" LEVEL 1;
COMP "SEG<1>" LOCATE = SITE "P115" LEVEL 1;
COMP "SEG<2>" LOCATE = SITE "P119" LEVEL 1;
COMP "SEG<3>" LOCATE = SITE "P120" LEVEL 1;
COMP "SEG<4>" LOCATE = SITE "P121" LEVEL 1;
COMP "SEG<5>" LOCATE = SITE "P122" LEVEL 1;
COMP "SEG<6>" LOCATE = SITE "P123" LEVEL 1;
COMP "SEG<7>" LOCATE = SITE "P125" LEVEL 1;
SCHEMATIC END;

