NET clk100m		LOC = T9;
NET rstb			LOC = H1;

NET push_sw<0>	LOC = G3; #FIFO_WREN
NET push_sw<1>	LOC = G4; #FIFO_RDEN

NET LED<0>	LOC = A12;
NET LED<1>	LOC = A14;
NET LED<2>	LOC = B14;
NET LED<3>	LOC = B13;
NET LED<4>	LOC = C12;
NET LED<5>	LOC = C9;
NET LED<6>	LOC = D9;  #FIFO_FULL
NET LED<7>	LOC = P16; #FIFO_EMPTY